<a href="https://colab.research.google.com/github/rbqpark/tinger/blob/main/KNNMetadata.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**K-Nearest Neighbors Classifier experiment with Metadata only**#

---
#1. Mount Google Drive and get authentication from Google SDK#

This step includes mounting the Google Drive and receiving authentication via Google SDK to gain access to our database and custom libraries.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

------------------------------------------
#**2. Install and import all dependencies**#

In [ ]:
#@title
import pandas as pd
import numpy as np
from sklearn.neighbors import KNeighborsClassifier

------------------------------------------
#**3. Import and clean data**#

In [ ]:
path = '/content/drive/My Drive/Tinger/Documentation/'

mandarin = pd.read_csv(path + 'Final Playlist Data (Mandarin).csv')
mandarin = mandarin.drop(columns=['Length of Song', 'Length in Seconds'])
mandarin.head()

  Song Title   Artist  ...         bpm  danceability
0       我很快乐      周兴哲  ...   74.402031      1.065184
1          过  林俊杰，王嘉尔  ...  128.099670      1.161731
2     因为你所以我      五月天  ...         NaN           NaN
3       很久以后      邓紫棋  ...  145.184540      1.059654
4          莲      张艺兴  ...  109.927071      1.125244

[5 rows x 11 columns]

In [ ]:
english = pd.read_csv(path + 'Final Playlist Data (English).csv')
english = english.drop(columns=['Length of Song'])
english.head()

        Song Title                    Artist  ...         bpm  danceability
0     We Are Young                       Fun  ...         NaN           NaN
1  Save Your Tears                The Weeknd  ...  117.723969      1.513067
2  Blinding Lights                The Weeknd  ...   85.510956      1.261864
3       Rain on me  Lady Gaga, Ariana Grande  ...  123.091164      1.185066
4       Intentions             Justin Bieber  ...  147.990478      1.051466

[5 rows x 11 columns]

#**4. Train K-Nearest-Neighbors model**#

In [ ]:
man_X = mandarin.iloc[:, 2:5].values
man_y = mandarin.iloc[:, 0].values

In [ ]:
classifier = KNeighborsClassifier(n_neighbors=3)
classifier.fit(man_X, man_y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=3, p=2,
                     weights='uniform')

In [ ]:
eng_X = english.iloc[:, 2:5].values
eng_y = english.iloc[:, 0].values

#**5. Output euclidean distances between the target song and 5 closest matches in the other language**#

Using We Are Young as example target song.

In [ ]:
we_are_young = [eng_X[0]]
distances, indices = classifier.kneighbors(we_are_young, n_neighbors=5)

In [ ]:
pd.DataFrame(distances[0], indices[0], columns=['Distances'])

     Distances
241   2.000000
66    2.236068
73    2.236068
209   2.236068
40    2.236068